:root{
    --primary-color: rgb(255, 166, 0);
    --neutral-color: rgba(102, 76, 114, 0.685);

    --main-transition: .3s linear;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: grid;
    font-family: 'Roboto', sans-serif;
  }

  @media (min-width: 450px){
    li{
        padding: 0 .5rem;
        transition: all .6s ease-in-out;
    }
  }

  .nav__container{

    display: flex;
    align-items: center;
    box-shadow: 0 .1rem 1rem .5rem rgba(128, 128, 128, 0.103);
  }

  .nav__center{
    padding: .8rem;
    display: flex;
    justify-content: space-between;
  }

  .main__heading{
    display: flex;
    align-items: center;
  }

  ul{
    font-weight: bold;
    display: flex;
    list-style: none;
    gap: 1rem;
  }

  a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    transition: color var(--main-transition);
  } 

  a:hover{
    color:var(--primary-color);
  }
  



  span{
    color: var(--primary-color);
  }

 .menu{
    background-color: var(--primary-color);
    color: white;
    border-radius: .8rem;
    border: none;
    font-size: 1rem;
    padding: .5rem .8rem;
    cursor: pointer;
    transition: all var(--main-transition);
    display: none;
  }

  .menu:hover{
    background-color: var(--neutral-color);
    border-radius: 4rem;
  }

  

  @media (max-width: 450px){
    .lists{
        display: grid;
        height: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition: all var(--main-transition);
    }

    .lists.active{
        padding: 0;
    }

    a{  padding-top: .5rem;
        padding-left: 1rem;
        display: block;
        margin: 0;
        width: 100%;
        transition: all var(--main-transition);
    }

    a:hover{
        color: white;
        background-color: var(--primary-color);
        padding-left: 3rem;
        opacity: .6;
        }

    li{
        display: flex;
    }

    .active{
        height: 10rem;
      }


      .main__heading{
        justify-content: space-between;
    }
    .menu{
        display: inline-flex;
    }
    .nav__container{
        display: grid;
    }


  }
  

  

  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }